/*custom css */

div {
 border: solid red 1px;
}

body {
	font: Kalimati, Verdana, sans-serif;
	color: #666;
	font-size: 14pt;
}

.list-box {
	border: 1px solid #ccc;
	padding: 10px 30px 30px;
	margin-top: 30px;
}

.main-title {
 /*font-size: 32pt;
	letter-spacing: 1px;
	margin-top: 42px;*/
}

.subtitle {
	color: #f07c17;
	margin-bottom: 25px;
	font-weight: bold;
    font-size: 16pt;
	/*letter-spacing: -1.5px;*/
}

.sidebar-img {
	margin-top: 20px;
}

